:root {
    --text: #000000;
    --background: #f8f8f8;
    --primary: #23e461;
    --secondary: #7ac3ef;
    --accent: #7df15a;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100%;
}

.side-bar-container {
    background-color: var(--primary);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    color: var(--background);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.sidebar ul li a .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
}

.sidebar ul li a:hover {
    background-color: var(--secondary);
}

#map {
    width: 100%;
    height: 100%;
}

#content-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

#row-content-add {
    display: flex;
    justify-content: end;
}

body {
    font-family: Arial, sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}

.actions-column {
    width: 15%;
}




#add-item-dialog {
    margin: auto;
    display: none;
    border: 2px solid #9e9e9e;
    border-radius: 5px;
    z-index: 2;
    position: absolute;
}

#collection-points-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#organization-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.field-form {
    display: flex;
    flex-direction: column;
}

#collection-points {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#row-collection-points-add {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#row-collection-points-add button {
    margin-right: 20px;
    background-color: #23e461;
    border: none;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

#row-collection-points-add button:hover {
    background-color: #1eca55;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-row span {
    font-weight: bold;
}

.form-fields {
    display: flex;
    gap: 15px;
}

.field-form {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.field-form input {
    height: 20px;
    border-radius: 5px;
    border: 1px solid #9e9e9e;
}

.field-form span {
    font-weight: 400;
}

.checkbox-options {
    display: flex;
    gap: 20px;
}

#select-organization {
    height: 24px;
    background-color: transparent;
    border: 1px solid #9e9e9e;
    border-radius: 5px;
    width: 166px;
}