:root {
    --text: #000000;
    --background: #f8f8f8;
    --primary: #23e461;
    --secondary: #7ac3ef;
    --accent: #7df15a;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    height: 90%;
}

.login-container-footer a {
    color: var(--primary);
    font-weight: bold;
    text-decoration: underline;
}

.login-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    background-color: #23e461; /* Cor primária do botão */
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
}

.login-button:hover {
    background-color: #1cbf50; /* Cor um pouco mais escura para o hover */
}

/* Estilo adicional para o botão "Entrar" */
.login-container button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: var(--text);
    background-color: #23e461; /* Cor primária do botão */
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #1cbf50; /* Cor um pouco mais escura para o hover */
}

.automaton-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.automaton-login, .automaton-password {
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.automaton-login-title, .automaton-password-title {
    text-align: center;
    align-items: center;
    align-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.automaton-login-title p, .automaton-password-title p{
    font-size: 11px;
    margin-top: 2px;
}

.automaton-login-diagram, .automaton-password-diagram {
    height: 20vh;
    width: 100%;
    margin-bottom: 10px;
}
